{% load account_tags %}

<tr>
  <td>
    {{ "-"|repeat:depth }}
    {% if account.is_category %}
      <strong>{{ account.name }}</strong>
    {% else %}
      <a href="{% url 'accounts.transaction.list.by_account' account.pk %}">
        {{ account.name }}
      </a>
    {% endif %}
  </td>
  <td>{{ account.description }}</td>
  <td>{{ account.account_type.name }}</td>
  <td class="text-right">{{ account.balance|floatformat:"2" }}</td>
  <td>
    <a href="{% url 'accounts.account.edit' account.pk %}" class="btn btn-xs btn-default">Edit</a>
    <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#accountModalDelete{{ account.pk }}">Delete</button>
    <div class="modal fade" id="accountModalDelete{{ account.pk }}" tabindex="-1" role="dialog" aria-labelledby="accountModalDeleteLabel{{ account.pk }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="accountModalDeleteLabel{{ account.pk }}">Delete "{{ account.name }}" Account</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this account?</p>
          </div>
          <div class="modal-footer">
            <form method="post" action="{% url 'accounts.account.delete' account.pk %}">
              {% csrf_token %}
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Delete Account</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>

{% if account.is_category %}
  {% with depth=depth|add:"1" %}
    {% for account in account.subaccounts %}
      {% include "accounts/account_list_row.html" %}
    {% endfor %}
  {% endwith %}
{% endif %}
