{% extends "base.html" %}

{% block page-content %}
  <h1 class="page-header">Accounts</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Balance</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for account in object_list %}
          {% with depth=0 %}
            {% include "accounts/account_list_row.html" %}
          {% endwith %}
        {% endfor %}
      </tbody>
    </table>
    <p>
      <a href="{% url 'accounts.account.add' %}" class="btn btn-default">
        Add Account
      </a>
      <a href="{% url 'accounts.transaction.add' %}" class="btn btn-default">
        Add Transaction
      </a>
    </p>
  </div>
{% endblock page-content %}
