{% extends "base.html" %}
{% load staticfiles %}

{% block page-content %}
  {{ block.super }}

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
  </div>

  <h2 class="sub-header">Monthly Expenses</h2>
  <div class="table-responsive">
    <div id="monthly-debit-charts"></div>
  </div>
{% endblock page-content %}

{% block page-js %}
  <script src="{% static 'js/d3.min.js' %}"></script>
  <script>
    $(function() {
        var width = 800,
            height = 800;

        var color = d3.scale.linear()
            .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b",
                    "#a05d56", "#d0743c", "#ff8c00"]);

        var pie = d3.layout.pie()
            .sort(null)
            .value(function(d) {
                return d.balance;
            });

        var month_display = d3.scale.quantize()
            .range(["Janurary", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November",
                    "December"])
            .domain([1,12]);

        var svg = d3.select("#monthly-debit-charts").append("svg")
            .attr("width", width)
            .attr("height", height)

        var key = function(d) { return d.data.label; };

        d3.json("{% url 'data.yearly_debit' %}", function(error, data) {
            var months = d3.keys(data);
            var radius = Math.min(width, height) / 4 - 40;

            var arc = d3.svg.arc()
                .outerRadius(radius - 10)
                .innerRadius(0);

            var block_width = 0;
            var block_height = - (height / 4);

            height_needed = (height / 2) * Math.ceil(months.length / 2);
            svg.attr("height",
                     d3.max([height_needed, height]));

            for (var i in months) {
                color.domain([
                    d3.min(data[months[i]], function(d) { return d.balance; }),
                    d3.max(data[months[i]], function(d) { return d.balance; })
                ]);

                // setup chart block dimensions
                odd = i % 2;
                if (odd) {
                    block_width = width / 4 * 3;
                } else {
                    block_width = width / 4;
                    block_height = block_height + height / 2;
                }

                // create pie chart block
                pie_chart = svg.append("g")
                    .attr(
                        "transform",
                        "translate(" + block_width + "," + block_height + ")"
                    )
                    .selectAll(".arc")
                    .data(pie(data[months[i]]), key)
                    .enter()

                // add title
                pie_chart.append("text")
                    .attr("transform",
                          "translate(0, -" + (height / 4 - 20) + ")")
                    .attr("dy", "1em")
                    .style("text-anchor", "middle")
                    .text(month_display(months[i]));

                // create pie chart
                pie_chart.append("g")
                    .attr("class", "arc")
                    .append("path")
                    .attr("d", arc)
                    .style("fill", function(d) {
                        return color(d.value);
                    });

                // add labels
                pie_chart.append("text")
                    .attr("transform", function(d) {
                        return "translate(" + arc.centroid(d) + ")";
                    })
                    .attr("dy", ".35em")
                    .style("text-anchor", "middle")
                    .text(function(d) {
                        return d.data.label + " (" + d.data.balance + ")";
                    });
            }
        });
    });
  </script>
{% endblock page-js %}
