{% extends "base.html" %}
{% load staticfiles %}

{% block page-content %}
  {{ block.super }}
  <h2 class="sub-header">Net Worth</h2>
  <div class="table-responsive">
    <div id="net-worth-chart">
      <img id="net-worth-chart-loader" src="{% static 'img/ajax-loader.gif' %}" />
    </div>
  </div>

  <h2 class="sub-header">{{ debits_title }} vs {{ credits_title }}</h2>
  <div class="table-responsive">
    <div id="debit-vs-credits-chart">
      <img id="debit-vs-credits-chart-loader" src="{% static 'img/ajax-loader.gif' %}" />
    </div>
  </div>

  <h2 class="sub-header">Monthly {{ debits_title }}</h2>
  <div class="table-responsive">
    <div id="monthly-debit-charts">
      <img id="monthly-debit-charts-loader" src="{% static 'img/ajax-loader.gif' %}" />
    </div>
  </div>
{% endblock page-content %}

{% block page-js %}
  <script src="{% static 'js/d3.min.js' %}"></script>
  <script src="{% static 'js/colors.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script>
    $(function() {
        d3.json("{% url 'data.yearly_debit' %}", function(error, data) {
            HandleYearlyDebitData(data);
        });
    });
  </script>
{% endblock page-js %}
