{% extends "base.html" %}
{% load staticfiles bootstrap3 %}

{% block page-content %}
  <h1 class="page-header">Accounts</h1>

  <h2 class="sub-header">Confirm Import Transactions</h2>
  <div class="table-responsive">
    <form method="post" action="{% url 'accounts.transaction.import.confirm' %}" role="form" class="form-inline">
      {% include "accounts/transaction_formset.html" %}
      {% buttons %}
        <input type="submit" class="btn btn-success" value="Import Transactions" />
        <a href="{% url 'accounts.account.list' %}" class="btn btn-danger">Cancel</a>
      {% endbuttons %}
    </form>
  </div>

  {% include "accounts/account_add_modal.html" %}

{% endblock page-content %}

{% block page-js %}
  <script src="{% static 'js/accounts.js' %}"></script>
  <script>
    $(function() {
        $("select[name!=account_type]").change(function() {
            var new_value = $(this).val();
            var row = $(this).parents("tr");
            var summary_value = $(":input[name$='summary']", row).val()
            $("tr ~ tr").each(function() {
                if ($(":input[name$='summary']", this).val() == summary_value) {
                    $("select", this).each(function() {
                        if ($(this).val() == "") {
                            $(this).val(new_value);
                        }
                    });
                }
            });
        });
    });
  </script>
{% endblock page-js %}
