{% extends "base.html" %}
{% load staticfiles bootstrap3 %}

{% block page-css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock page-css %}

{% block page-content %}
  <h1 class="page-header">Transactions</h1>

  <h2 class="sub-header">Save Transaction</h2>
  <div class="table-responsive">
    <form method="post" action="" role="form" class="form-inline">
      {% include "accounts/transaction_formset.html" %}
      {% buttons %}
        <input type="submit" class="btn btn-success" value="Save Transaction" />
        <a href="{% url 'accounts.transaction.list' %}" class="btn btn-danger">Cancel</a>
      {% endbuttons %}
    </form>
  </div>

  {% include "accounts/account_add_modal.html" %}

{% endblock page-content %}

{% block page-js %}
  <script src="{% static 'js/accounts.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $("[name$='-date']").datepicker();
    });
  </script>
{% endblock page-js %}
