{% extends "base.html" %}
{% load bootstrap3 %}

{% block page-content %}
  <h1 class="page-header">Accounts</h1>
  <h2 class="sub-header">{{ object }}</h2>

  <div class="table-responsive">
    <div class="col-md-6">
      <a href="{% url 'accounts.transaction.add' %}" class="btn btn-default">
        Add Transaction
      </a>
      <a href="{% url 'accounts.transaction.import' %}" class="btn btn-default">
        Import Transactions
      </a>
    </div>
    <div class="col-md-6 text-right">
      {% bootstrap_pagination trxs %}
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Debit</th>
          <th>Credit</th>
          <th>Summary</th>
          <th>Description</th>
          <th>Amount</th>
          {% if account %}
            <th>Balance</th>
          {% endif %}
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for trx in trxs %}
          <tr>
            <td>{{ trx.date }}</td>
            <td>{{ trx.account_debit }}</td>
            <td>{{ trx.account_credit }}</td>
            <td>{{ trx.summary }}</td>
            <td>{{ trx.description }}</td>
            <td class="text-right">{{ trx.amount|floatformat:"2" }}</td>
            {% if account %}
              <td class="text-right">{{ trx.balance|floatformat:"2" }}</td>
            {% endif %}
            <td>
              <a href="{% url 'accounts.transaction.edit' trx.pk %}{% if account %}?next={{ account.pk }}{% endif %}" class="btn btn-sm btn-default">Edit</a>
              <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#trxModalDelete{{ trx.pk }}">Delete</button>
              <div class="modal fade" id="trxModalDelete{{ trx.pk }}" tabindex="-1" role="dialog" aria-labelledby="trxModalDeleteLabel{{ trx.pk }}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="trxModalDeleteLabel{{ trx.pk }}">Delete Transaction</h4>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete this transaction?</p>
                    </div>
                    <div class="modal-footer">
                      <form method="post" action="{% url 'accounts.transaction.delete' trx.pk %}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete Transaction</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="col-md-6">
      <a href="{% url 'accounts.transaction.add' %}" class="btn btn-default">
        Add Transaction
      </a>
      <a href="{% url 'accounts.transaction.import' %}" class="btn btn-default">
        Import Transactions
      </a>
    </div>
    <div class="col-md-6 text-right">
      {% bootstrap_pagination trxs %}
    </div>
  </div>
{% endblock page-content %}
