{% extends "base.html" %}
{% load staticfiles bootstrap3 %}

{% block page-css %}
  <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock page-css %}

{% block content %}
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Finance</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li{% if page != "contact" %} class="active"{% endif %}>
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li{% if page == "contact" %} class="active"{% endif %}>
                  <a href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'accounts.dashboard' %}">Dashboard</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          {% bootstrap_messages %}

          {% block page-content %}
            <h1 class="cover-heading">Your Finances.</h1>
            <p class="lead">A single place to view your finances.</p>
            <p class="lead">
              <a href="{% url 'register' %}" class="btn btn-lg btn-info">
                Register
              </a>
              <a href="{% url 'login' %}" class="btn btn-lg btn-success">
                Log In
              </a>
            </p>
          {% endblock page-content %}
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>Create by <a href="http://www.ironlabs.com">IRON Labs, Inc.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
