{% extends "base.html" %}
{% load bootstrap3 %}

{% block page-menu %}{% endblock page-menu %}

{% block page-content %}
  <h1 class="page-header">Profile</h1>

  <h2 class="sub-header">Current Year</h2>
  <div class="table-responsive col-md-4">
    <form method="post" action="" role="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <input type="submit" class="btn btn-success" value="Set Current Year" />
      {% endbuttons %}
    </form>
  </div>
{% endblock page-content %}
